* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  color: white;
  font-family: sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  width: 35rem;
  height: 10rem;
  background: rgb(52, 52, 236);
  position: relative;
  padding: 1rem;
  display: flex;
  align-items: center;
  animation: dell 10s infinite;
}

div {
  width: 7rem;
  height: 2rem;
  background: white;
}

div:nth-child(2) {
  background: red;
}
div:nth-child(3) {
  background: green;
}
div:nth-child(4) {
  background: blue;
}

p {
  margin-left: 1rem;
  font-size: 1.5rem;
  font-weight: lighter;
}

h3 {
  position: absolute;
  right: 1rem;
  margin-top: -5rem;
}

@keyframes dell {
  20% {
    transform: translateX(30rem);
  }
  30% {
    transform: translateY(30rem);
  }
  50% {
    transform: translateX(-30rem);
  }
  100% {
    transform: translateX(-30rem);
  }
}
